.intro-header .site-heading,.intro-header .post-heading,.intro-header .page-heading {
    padding: 85px 0 55px;
    color: #fff;
    text-shadow: 1px 1px 0px #444444;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Monserrat", "Noto Sans", "Helvetica Neue", -apple-system, Arial, sans-serif;
    line-height: 1.7;
    line-height: 1.1;
    font-weight: 700
}
